.divContainer {
	border: 2px solid black;
	border-radius: 20px;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

.imageDiv {
	/*border-radius: 20px;*/
	
	height: 10em;

	overflow: hidden;
}

.promoImg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.textDiv {
	/*width: 70%;*/
	padding: 1em;
}

.projectTitle {
	color: var(--title);
	font-size: 24pt;
}

.projectSummary {
	color: var(--subtitle);
}
